# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [2]:
# for keyword, variable iterator/counter, in keyword, object(iterable)

dog = ['dog', 'joe', 'ethan']

for name in dog:
    print(name)

dog
joe
ethan

In [3]:
numbers = range(10)

for num in numbers:
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [6]:
# with conditionals checks for membership
# if p in word:
#   print(word)

for i in range(15):
    print(i**2)
    
name = "barney"
name2 = "Baby Bop"

for letter in name:
    if letter in name2:
        print("Sick same leter")
    else:
        print("Not same")

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
Sick same leter
Sick same leter
Not same
Not same
Not same
Sick same leter

##### Continue Statement

In [7]:
# continue will move on to the next iteration if a condition is met
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [8]:
#stops the loop from iterating if a certian condition is met
for i in range(20):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

##### Pass Statement

In [16]:
# mostly used as a placeholder

for i in range(20):
    pass

word = "words"

for letter in word:
    print(letter)
    
    
def get_total():
    pass

w
o
r
d
s

##### Double For Loops

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [17]:
for i in range(5):
    for j in range(5):
        print("I = ", i, "j= ", j)

I =  0 j=  0
I =  0 j=  1
I =  0 j=  2
I =  0 j=  3
I =  0 j=  4
I =  1 j=  0
I =  1 j=  1
I =  1 j=  2
I =  1 j=  3
I =  1 j=  4
I =  2 j=  0
I =  2 j=  1
I =  2 j=  2
I =  2 j=  3
I =  2 j=  4
I =  3 j=  0
I =  3 j=  1
I =  3 j=  2
I =  3 j=  3
I =  3 j=  4
I =  4 j=  0
I =  4 j=  1
I =  4 j=  2
I =  4 j=  3
I =  4 j=  4

### While Loops

In [23]:
# while keyword, condition
#  while loop will run based on condition statement

counter = 0

while counter < 11:
    counter += 1
    print(counter)

print("\n")

num = 0
while num < 15:
    print(num**2)
    num+=1

1
2
3
4
5
6
7
8
9
10
11


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [ ]:
# break statement with while loop

num = 0
while num < 15:
    num += 1
    if num == 7:
        
        break
    print(num)

##### looping 'While True'

In [ ]:
# true as a condition for a while loop to run

game_over = False
while True:
    print("Infinate loop")
    if game_over == False:
        break

In [25]:
game_running = True
num = 7
while game_running:
    print("Checking")
    if num == 7:
        game_running = False

Checking

In [26]:
while True:
    name = input("What is your name")
    if name == '':
        print("Thats empty please enter a name: ")
    else:
        print(name)
        break

What is your name
Thats empty please enter a name:
What is your name
Thats empty please enter a name:
What is your name
Thats empty please enter a name:
What is your nameethan
ethan

##### While & For Loops Used Together

In [27]:
j = 0

while j < 10:
    print("\nwhile loop iteration"+ str(j))
    
    for i in range(4):
        print("For loop iteration: "+ str(i))
    j+=1

while loop iteration0
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration1
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration2
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration3
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration4
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration5
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration6
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration7
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration8
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

while loop iteration9
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3

##### The Range Function

In [34]:
# rangte(start, stop, step) - stop is the only required paramiteer and is not inclusive

for i in range(5):
    print(i)
print("\n")
    
# start, stop
for i in range(1, 10):
    print(i)
print("\n")
# start, stop, step
for i in range(0, 11, 2):
    print(i)

0
1
2
3
4


1
2
3
4
5
6
7
8
9


0
2
4
6
8
10

### String Manipulation Exercise

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7]

for num in numbers:
    print(num**2)

1
4
9
16
25
36
49

In [40]:
# loop through list below, strip all white space from each string, title case each string
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for i in names:
    print(i.strip().title())

Connor
Max
Evan
Jordan

In [52]:
# declaring an empty list
our_list = []

name = ['Connor', 'Max', 'Evan', 'Jordan']

numbers = [1, 2, 3, 4, 5, 6, 7]

print(name)

['Connor', 'Max', 'Evan', 'Jordan']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

In [44]:
# declaring an empty list
our_list = []

name = ['Connor', 'Max', 'Evan', 'Jordan']

numbers = [1, 2, 3, 4, 5, 6, 7]

print(name)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### Indexing a List

In [59]:
# [start, stop, step] --> [-1]
# our_list[]

name = ['Connor', 'Max', 'Evan', 'Jordan', 'ethan', 'desiree']
print(name[2])

new_list = name[1:]
print(new_list)

# print starting at the begining of the list and going up to the spesifyed index

print(name[:2])

# print starting at index 1 step my 2
print(name[1::2])

# reversing a list (starting at the backa dn pritning every item going twords the front)

print(name[::-1])

Evan
['Max', 'Evan', 'Jordan', 'ethan', 'desiree']
['Connor', 'Max']
['Max', 'Jordan', 'desiree']
['desiree', 'ethan', 'Jordan', 'Evan', 'Max', 'Connor']

### List Methods

##### .append()

In [60]:
name = ['Connor', 'Max', 'Evan', 'Jordan', 'ethan', 'desiree']

name.append('Lyal')
print(name)

['Connor', 'Max', 'Evan', 'Jordan', 'ethan', 'desiree', 'Lyal']

In [61]:
print(name[:2:-1])

['Lyal', 'desiree', 'ethan', 'Jordan']

In [62]:
print(name[:4:-1])

['Lyal', 'desiree']

In [63]:
numbers = [1, 2, 3, 4, 5, 6]
numbers.append(12)
numbers.append(4)
numbers.append(5)

print(numbers)

[1, 2, 3, 4, 5, 6, 12, 4, 5]

In [65]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

title_list = []
for n in names:
    title_list.append(n.title().strip())
print(title_list)

['Connor', 'Max', 'Evan', 'Jordan']

##### .insert()

In [67]:
# takes in an index, value

name_list = ['Connor', 'Max', 'Evan', 'Jordan', 'ethan', 'desiree', 'Lyal']

name_list.insert(3, 'Ryan')
print(name_list)

['Connor', 'Max', 'Evan', 'Ryan', 'Jordan', 'ethan', 'desiree', 'Lyal']

In [68]:
new_data = [1, 3, 43, 54, 2]

for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, name_list[3])
print(new_data)

[1, 3, 43, 'Ryan', 54, 2]

##### .pop()

In [70]:
# will pop by index
# can also set to variable
#  by defualt will pop last item in list
name_list = ['Connor', 'Max', 'Evan', 'Jordan', 'ethan', 'desiree', 'Lyal']
bye = name_list.pop(3)
print(bye)

Jordan

##### .remove()

In [73]:
# remove by value
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

names.remove('Bob')
names.remove('Billy')
print(names)

['Bob', 'Berry', 'Bertha', 'Bob', 'Bert']

In [77]:
names = ['Bob', 'Berry', 'Bertha', 'Bob', 'Bert']

while "Bob" in names:
    names.remove("Bob")

print(names)

['Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [91]:
# index to be remove not value
# can cause index erros

names = ['Bob', 'Berry', 'Bertha', 'Bob', 'Bert']

del(names[1])
print(names)

['Bob', 'Bertha', 'Bob', 'Bert']

##### min()

In [97]:
# returns smallest item from list

numbers = [1, 13, 5234 , 54, 2, 2]
print(min(numbers))

1

##### max()

In [98]:
# returns largest items from list
numbers = [1, 13, 5234 , 54, 2, 2]

print(max(numbers))

5234

##### sum()

In [99]:
# returns sum of list
numbers = [1, 13, 5234 , 54, 2, 2]

print(sum(numbers))

5306

##### sorted()

In [102]:
# sorts the numbers

numbers = [1, 13, 5234 , 54, 2, 2]

sort = sorted(numbers)

print(sort)

[1, 2, 2, 13, 54, 5234]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [103]:
#  sorts but changes original list
numbers = [3, 6, 1, 5, 10, -12]
numbers.sort()
print(numbers)

[-12, 1, 3, 5, 6, 10]

##### Copying a List

In [104]:
numbers = [3, 6, 1, 5, 10, -12]

new_list = numbers[:]
print(new_list)

[3, 6, 1, 5, 10, -12]

In [107]:
numbers = [3, 6, 1, 5, 10, -12]

another_list = []
for num in numbers:
    another_list.append(num)
    
print(another_list)

[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [113]:
# looping by value
# looping by index

names = ['hans solo', 'Leia organa', "Luke Skywalker", "Lando", 'Mace Windu']
for name in names:
    print(name)
    
for name in names:
    if name == "hans solo":
        print(name)
print("\n")
# looping by index
for i in range(len(names)):
    print(names[i])
    

for i in range(len(names)):
    if names[i] == "Leia organa":
        print(names[i])
        
print("\n")

# enumerate

for i, v in enumerate(names):
    print(i, v)

hans solo
Leia organa
Luke Skywalker
Lando
Mace Windu
hans solo


hans solo
Leia organa
Luke Skywalker
Lando
Mace Windu
Leia organa


0 hans solo
1 Leia organa
2 Luke Skywalker
3 Lando
4 Mace Windu

##### 'in' keyword

In [114]:
# wpsifying list we are iterating

names = ["Alex", "Swan", "Ethan", "Rayan"]
if "Ethan" in names:
    print("Ranger")
else:
    print("Not ranger")

Ranger

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

In [115]:
# oposite of being in

names = ["Alex", "Swan", "Ethan", "Rayan"]
if "Fred" not in names:
    print("Freds not in there")
else:
    print("He's in there")

Freds not in there

##### Checking an Empty List

In [118]:
our_list = []
if our_list == [1]:
    print("Emtpy")
else:
    print("Not empty")

Not empty

##### Removing Instances with a Loop

In [97]:
names = ["Alex", "Swan", "Ethan", "Rayan"]

while

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [120]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# might need append
# might need an empty list
# are you actually removing

new_list = []

for i in range(len(names)):
    if names[i] not in new_list:
        new_list.append(names[i])

print(new_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [121]:

my_dup = []
i = 0

while i < len(names):
    if names[i] not in my_dup:
        my_dup.append(names[i])
        i += 1
    else: 
        names.remove(names[i])
print(names)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [124]:
#  list comprehension way
nums = [4, 15, 36, 64, 100]

num_squared = [x**2 for x in nums]
print(num_squared)

# list comp with conditional

more_squared = [num**2 for num in nums if num%2==0]
print(more_squared)

[16, 225, 1296, 4096, 10000]
[16, 1296, 4096, 10000]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

['t', 's', 'd', 'e']
['t', 's', 'd', 'e']

In [127]:
pets = ['elliot', 'eyo', 'penney', 'eyeball', 'arstro']

letter_names = [name[0] for name in pets if name[0] != 'e']
print(letter_names)

['p', 'a']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

In [125]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [133]:
#  emutible list

# declaring tuples
tup_1 = (1, 2, 3)

tup_2 = (4, 5, 6)

print(tup_1)
print(type(tup_2))

# indexing to a tuple
print(tup_1[0])

# lnegth of a tupple

print("\ntupple length", len(tup_2))

print("\n")
for num in tup_1:
    print(num)

(1, 2, 3)
<class 'tuple'>
1

tupple length 3


1
2
3

In [134]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [138]:
help(loop)

NameError: name 'loop' is not defined

##### sorted()

In [142]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [148]:
print(tup)

tup = tup + (6, )
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [41]:
alist = [1,11,14,5,8,9]
for i in alist:
    if i < 10:
        print(i)
    else:
        continue

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [155]:
list_1 = [1,2,3,4,5,6]
list_2 = [3,4,5,6,7,8,10]

new_list = list_1 + list_2



new_list.sort()
print(new_list)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [182]:
for i in range(1, 16):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [183]:
# IM GONNA KEEP ALL MY CODE HERE TO SHOW MY PROCCESS. THE CORRECT ANSWER IS THE LAST ONE!

# double for loop??

names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
new_list = []
#expected output = ['Amy', 'Alex']
for name in names_list:
    for i in name:
        if  not in new_list:
            new_list.append(name.strip().title())
        
print(new_list)

SyntaxError: invalid syntax (880148747.py, line 8)

In [174]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
new_list = []
for name in names_list:
    for i in name:
        if i[0] == "a":
            print(i)

a
a
a

In [198]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
new_list = []
for name in names_list:
    if name[0]=="a"and name[0] != " ":
        new_list.append(name)

    
print(new_list)
print("Yes")

[]
Yes

In [23]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
new_list = []
for name in names_list:
    if name.strip() == "" and name[0].strip() != "A":
        continue
    else:
        new_list.append(name.strip().title())
    

even_new_list = []
for i in new_list:
    if i[0] !="A":
        continue
    else:
        even_new_list.append(i)
        
# print(even_new_list)
    
            
# print(new_list)

# amazing I got this to work! now I just gotta put it all into one list!

# newlist = [x for x in fruits if x != "apple"]
# new_list_og = [name for name in names_list if name.strip() != "" and name[0].strip().title() == "A"]


new_list_og = [name.strip().title() for name in names_list if name.strip() != "" and name.strip()[0].upper() == "A"]
print(new_list_og)

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [181]:
# 1:  I wanna loop through these numbers.

for num in range(1, 101):
    for i in range(2, num):
        if num%i ==0:
            break
        else:
            print(num)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99